.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid gray;
}
.img{
    width: 35%;
    height: 400px;
    display: flex;
    justify-content: center;
}
.img img{
    width: 50%;
    
}

.content-info{
    width: 65%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}


.nota{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nota p{
color: yellow;
}

#back{
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: xx-large;
    font-weight: bolder;
    border-radius: 50%;
    border: 1px solid blue;
    padding: 10px;
    cursor: pointer;
}
#back:hover{
transform: scale(1.2);
}

.btn-content-movie{
    display: flex;
    margin-top: 20px;
    gap: 20px;

}
.btn-content-movie button{
    width: 200px;

}