<div class="container" *ngIf="movie">

    <span class="material-symbols-outlined" id="back" routerLink="">
        arrow_back
        </span>

    <div class="content">
        <div class="img">
            <img [src]="movie.urlFoto" alt="">
        </div>
        <div class="content-info">
            <div>
                <h1>{{movie.titulo}}</h1>
                <h3>{{movie.genero}}</h3>
            </div>
            <p>{{movie.descricao}}</p>
            <i>Data de Lançamento - {{movie.dtLancamento | date:'dd/MM/yyyy' }}</i>
            <div class="nota">
                    <h2>AVALIAÇÃO DA IMDb</h2>
                    <h2>{{movie.nota}}</h2>
                    <p class="material-symbols-outlined">star</p>
            </div>
        </div>
    </div>

    <div class="btn-content-movie">
        <button mat-raised-button color="primary" id="edit" (click)="openDialog()">Editar</button>
        <button mat-raised-button color="warn" id="remove" (click)="removeMovie(movie.id)">Remover</button>
    </div>

    <mat-spinner class="spinner" *ngIf="spinner" [color]="'warn'"></mat-spinner>

    <app-footer style="position: absolute; bottom: 0; width: 100%;"></app-footer>
 
</div>